{% extends "/basic.html" %}
{% block css_content %}

{% endblock css_content%}

{% block title_content %}
<title>{{title}}</title>
{% endblock title_content%}

{% block main_content %}
<div class="container">
    <div class="table-responsive-md ">
        <table class="table table-sm  table-dark table-striped table-bordered caption-top ">
            <caption>
                <h2>Transactions <h4> by {{heading}}</h4>
                </h2>
            </caption>
            <th>ID</th>
            <th>ACCOUNT</th>
            <th>CATEGORY</th>
            <th>SUBCATEGORY</th>
            <th>DATE</th>
            <th>AMOUNT</th>
            <th></th>
            <th></th>
            {% for data in posts %}
            <tr>
                <td>{{data.id}}</td>
                <td><a href="{{url_for('accounts',id = data.account)}}">{{data.account}}</a></td>
                <td><a href="{{url_for('category',id = data.category)}}">{{data.category}}</a></td>
                <td>{{data.subcategory}}</td>
                <td><a href="{{url_for('dates',id = data.date)}}">{{data.date}}</a></td>
                <td>{{data.amount}}</td>
                <td> <a href="{{url_for('updateid',id = data.id)}}">Edit</a></td>
                <td><a href="{{url_for('delete',id = data.id)}}">Delete</a> </td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>
<div class="container  mt-4 mb-4 ml-4 mr-4">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 mr-2 ml-2 ">
            <canvas id="accountChart_Category"></canvas>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 mr-2 ml-2 ">
            <canvas id="yearChart_Category"></canvas>
        </div>
    </div>
</div>
{% endblock main_content %}
{% block js_script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    fontColor = "black";
    accountChartCategory();
    yearlyChartCategory();

    function accountChartCategory() {
        const accountName = JSON.parse({{ account_name| tojson}});
    const acountAmount = JSON.parse({{ acount_amount| tojson}});
    let accountColor = [];
    addColor(accountName.length, accountColor);
    // console.log(accountColor); 
    let dataAccountCategory = {
        labels: accountName,
        datasets: [{
            label: 'Account Used',
            data: acountAmount,
            backgroundColor: accountColor,
            borderColor: accountColor,
            borderWidth: 1
        }]
    };
    const optionsAccountCategory = {
        responsive: true,
        plugins: {
            legend: {
                position: 'top',
                labels: {
                    color: fontColor
                }
            },
            title: {
                display: true,
                text: 'Accounts Used',
                color: fontColor
            }
        }
    };
    const configAccountCategory = {
        type: 'doughnut',
        data: dataAccountCategory,
        options: optionsAccountCategory

    };
    const accountChartCategory = new Chart(
        document.getElementById('accountChart_Category').getContext('2d'),
        configAccountCategory);
}
    function yearlyChartCategory() {
        const yearName = JSON.parse({{ year_name| tojson}});
    const yearAmount = JSON.parse({{ year_amount| tojson}});
    let yearColor = [];
    addColor(yearName.length, yearColor);
    // console.log(account_color); 
    let dataYearCategory = {
        labels: yearName,
        datasets: [{
            label: 'Account Used',
            data: yearAmount,
            backgroundColor: yearColor,
            borderColor: yearColor,
            borderWidth: 1
        }]
    };
    const optionsYearCategory = {
        responsive: true,
        plugins: {
            legend: {
                position: 'top',
                labels: {
                    color: fontColor
                }
            },
            title: {
                display: true,
                text: 'Yearly ',
                color: fontColor
            }
        }
    };
    const configYearCategory = {
        type: 'polarArea',
        data: dataYearCategory,
        options: optionsYearCategory

    };
    const yearChartCategory = new Chart(
        document.getElementById('yearChart_Category').getContext('2d'),
        configYearCategory);
}

</script>
{% endblock js_script %} 