{% extends "/basic.html" %} {% block css_content %} {% endblock css_content %}
{% block title_content %}
<title>{{title}}</title>
{% endblock title_content %} {% block main_content %}

<div class="container mt-2">
    <form class="row g-3" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }} {{ form.file}}
        <span class="text-danger">{{ ', '.join(form.file.errors) }}</span><br />
        {{form.submit(class="btn btn-outline-info")}}
    </form>
</div>

<div class="container">
    <div class="table-responsive-md">
        <table class="table table-sm table-striped table-bordered caption-top">
            <caption>
                <h2>Uploaded files</h2>
            </caption>

            <th>FILE</th>
            <th></th>
            <th></th>
            <th></th>

            {% for data in posts %}
            <tr>
                <td>{{data}}</td>
                <td>
                    <a class="text-decoration-none" href="{{url_for('insert_file_content',id = data)}}">
                        <button type="button" class="btn btn-outline-primary btn-sm">
                            Import file to database
                        </button>
                    </a>
                </td>
                <td>
                    <a class="text-decoration-none" href="{{url_for('delete_file_uploded',id = data)}}">
                        <button type="button" class="btn btn-outline-danger btn-sm">
                            Delete file
                        </button>
                    </a>
                </td>
                <td>
                    <a class="text-decoration-none" href="{{url_for('file_content',id = data)}}">
                        <button type="button" class="btn btn-outline-info btn-sm">
                            View Content
                        </button>
                    </a>
                </td>
            </tr>
            {%endfor%} 
        </table>
    </div>
</div>
{% endblock main_content %}